<h1><%= @movie.title %></h1>

<p><%= @obj['overview'] %></p>

<p>Movie's reviews</p>
<% @movie.reviews.each do |r| %>
	<p><%= link_to "#{r.user.username}'s", users_show_path(r.user) %><%= " rating: #{r.rating}/10" %></br>
		<%= r.comment %></br>
		<% if current_user.reviews.exists?(r.id) %>
			<%= link_to "Delete", reviews_delete_path(r) %>
		<% end %>
<% end %>

</br>
</br>
<h3>Review this movie!</h3>
<%= form_for Review.new, url: reviews_create_path(@movie) do |f| %>
	Rating: <%= f.number_field :rating, in: 0..10 %>
	<br />
	Content: <%= f.text_area :comment %>
	<br />
	<%= f.submit %>
<% end %>