<h1><%= "#{@user.username}'s Profile Page" %></h1>

<p><h3>Reviews</h3>
	<% @user.reviews.each do |r| %>
		<p><%= r.movie.title %></br>
			<%= "#{r.rating}/10" %></br>
			<%= r.comment %></br>
		</p>
	<% end %>
</p>

<h1>Playlists</h1>
<% @user.playlists.each do |r| %>
	<p><%= r.name %></p></br>
	<%= button_to "Delete", playlists_delete_path(r) %>
	<% r.movies.each do |m| %>
		<%= r.title %>	
	<% end %>
<% end %>

<% if @user.id == current_user.id then %>
	<h3>Create a new playlist!</h3>
	<%= form_for Playlist.new, url: playlists_create_path do |f| %>
		Name: <%= f.text_area :name %>
		<br />
		<%= f.submit %>
	<% end %>
<% end %>

</br>
</br>
<%= link_to "Return Home", home_path %>

